<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="email">Enter Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Enter Password</label><br>
        <input type="text" id="password" name="password"><br>
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        <button type="submit" id="btn">Submit</button>
    </form>
    <script>
        const email= document.getElementById('email'); 
        const password = document.getElementById('password');
        const username = document.getElementById('username');
        const btn = document.getElementById('btn');

        btn.addEventListener('click',function() {
            
            let data = {Email:email.value,Password:password.value,Name:username.value};
            console.log(data);

            fetch('http://localhost:8000/login',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify(data)
            }).then(res => res.json()).then(res => console.log(res));
        })
    </script>
</body>
</html>
